Getkey/src/META-INF/wsdl/192.168.8.101_8080/TestWebService/TestWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.psd.safaricom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.psd.safaricom.com/" name="TestWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.psd.safaricom.com/" schemaLocation="http://192.168.8.101:8080/TestWebService/TestWS?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="getKey">
<part name="parameters" element="tns:getKey"/>
</message>
<message name="getKeyResponse">
<part name="parameters" element="tns:getKeyResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="TestWS">
<operation name="register">
<input wsam:Action="http://ws.psd.safaricom.com/TestWS/registerRequest" message="tns:register"/>
<output wsam:Action="http://ws.psd.safaricom.com/TestWS/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="getKey">
<input wsam:Action="http://ws.psd.safaricom.com/TestWS/getKeyRequest" message="tns:getKey"/>
<output wsam:Action="http://ws.psd.safaricom.com/TestWS/getKeyResponse" message="tns:getKeyResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.psd.safaricom.com/TestWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.psd.safaricom.com/TestWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="TestWSPortBinding" type="tns:TestWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestWS">
<port name="TestWSPort" binding="tns:TestWSPortBinding">
<soap:address location="http://192.168.8.101:8080/TestWebService/TestWS"/>
</port>
</service>
</definitions>